.Card{
    
    background-color: dimgray;
    width: 320px;
    height: 400px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 100px;
    margin-right: 60px;
    box-shadow: 0 0 15px 3px white;
    color: white;
   
   
    
   
}
.Rating{
    color: gold;
}


.BotonDetail{
    background-color: rgb(56, 55, 55);
    color: white;
}