.FormularioStyle{
    
    margin-top: 50px;
 
    text-align: center;
    margin: 20px;
    padding-top: 10px;
}
.Form input {
    margin: 10px;
    

}
.Form select{
    margin: 10px;
}
.Title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.Boton{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px 3px gray;
    font-size: 30px;
 
}

.GenderSelect{
    background-color: white;
}